* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*  background: linear-gradient(120deg, #f6d365, #fda085); */
  background: linear-gradient(to right, #d66d75, #e29587);
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;

}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

form input {

  border-radius: 10px 0 0px 10px;
}

form input,
form button {
  -webkit-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0px 10px 10px 0px;

}

form button:hover {
  background: #d88771;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  padding: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  transition: all 0.5s ease;
  -webkit-box-shadow: 4px 12px 23px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 12px 23px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 12px 23px -13px rgba(0, 0, 0, 0.75);
}

.todo li {
  flex: 1;

}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 4px 12px 23px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 12px 23px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 12px 23px -13px rgba(0, 0, 0, 0.75);
}

.complete-btn {
  margin-right: 5px;
  background: rgb(73, 204, 73);


}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;

  color: #ff6f47;
  cursor: pointer;

  width: 10rem;
  padding: 1rem;
}

.select-todos {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.select-todos::after {
  content: '\25BC ';
  cursor: pointer;
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;

}

.select-todos:hover::after {
  background: white;
  color: #ff6f47;
}

.selected-select {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}